Checks: >
  -*,
  cppcoreguidelines-avoid-const-or-ref-data-members,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-misleading-capture-default-by-value,
  cppcoreguidelines-missing-std-forward,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-bounds-constant-array-index,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-use-enum-class,
  cppcoreguidelines-virtual-class-destructor,
  google-explicit-constructor,
  misc-const-correctness,
  misc-definitions-in-headers,
  misc-header-include-cycle,
  misc-include-cleaner,
  misc-misplaced-const,
  misc-redundant-expression,
  misc-static-assert,
  misc-unconventional-assign-operator,
  misc-unused-alias-decls,
  misc-unused-parameters,
  misc-unused-using-decls,
  misc-use-anonymous-namespace,
  misc-use-internal-linkage,
  modernize-concat-nested-namespaces,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-min-max-use-initializer-list,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-type-traits,
  modernize-use-auto,
  modernize-use-constraints,
  modernize-use-default-member-init,
  modernize-use-designated-initializers,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-integer-sign-comparison,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-ranges,
  modernize-use-starts-ends-with,
  modernize-use-std-numbers,
  modernize-use-std-print,
  modernize-use-transparent-functors,
  modernize-use-using

CheckOptions:
  - key: cppcoreguidelines-pro-type-const-cast.StrictMode
    value: true
  - key: cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value: true
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: false # default = false
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: false # default = false
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
    value: false # default = false
# WarningsAsErrors: ''
# HeaderFileExtensions: ['h']
# ImplementationFileExtensions: ['cpp']